entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: false
  insecure: false

# Logging configuration
log:
  level: DEBUG
  filePath: "/var/log/traefik/traefik.log"

accessLog:
  bufferingSize: 100
  filePath: "/var/log/traefik/access.log"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

certificatesResolvers:
  le:
    acme:
      caServer: "https://acme-v02.api.letsencrypt.org/directory" # production
      email: "you@example.com" # REPLACE with your email
      storage: "/letsencrypt/acme.json"
      # Use httpChallenge (port 80) for Let's Encrypt
      httpChallenge:
        entryPoint: web

# Recommended TLS options
tls:
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
